/* .anti-sidebar {
  margin-left: 250px;
} */



@media (min-width: 992px) {
  .anti-sidebar {
    margin-left: 250px;
  }
}

.muted-text-light {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
}