/* .anti-sidebar {
  margin-left: 250px;
} */



@media (min-width: 992px) {
  .anti-sidebar {
    margin-left: 250px;
  }
}

.muted-text-light {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
}

a {
  color: #afafaf;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* .modal-fullscreen {
  min-height: 100% !important;
  height: fit-content !important;
} */